
<h3>{{viewTitle}}</h3>

<form action="/employee" method="POST" autocomplete="off" >
    <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="icon_prefix" type="text" class="validate">
        <label for="icon_prefix">Full Name</label>
    </div>
    <div class="input-field col s6">
        <i class="material-icons prefix">contact_mail</i>
        <input id="icon_email" type="email" class="validate">
        <label for="icon_email">Email</label>
    </div>
    <div class="input-field col s6">
        <i class="material-icons prefix">phone</i>
        <input id="icon_telephone" type="tel" class="validate">
        <label for="icon_telephone">Telephone</label>
    </div>
    <div class="input-field col s6">
        <i class="material-icons prefix">business</i>
        <input id="icon_buildings" type="business" class="validate">
        <label for="icon_buildings">City</label>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
        {{!-- <label for="icon_submit">Submit</label> --}}
    </button>
</form>